body {
    font-family: monospace;
    background-color: #222;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3em;
    color: #f00;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    color: #f0f;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
}
